{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">

    {% if user.is_authenticated %}

    <h1>hello bog</h1>

    {% else %}

        <h1>Login</h1>
        <br/>

        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}

            <form class="row g-3">
                <div class="col-md-6 mb-3">
                    <input type="text" class="form-control" name="username" placeholder="username" required>
                </div>
                <div class="col-md-6 mb-4">
                    <input type="password" class="form-control" name="password" placeholder="password" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-secondary">Login</button>
                </div>
            </form>

        </form>

        </div>

{% endif %}

{% endblock %}
